<tr class="row view-all-bets">
  <td class="col-md-2"><%= bet.creator_id %></td>
  <td class="col-md-2"><%= bet.created_at %></td>
  <td class="col-md-2"><%= bet.expires_at %></td>
  <td class="col-md-2"><%= bet.bet_total %></td>
  <td class="col-md-3"><%= bet.bet %></td>
  <td class="col-md-1">
    <%= link_to bet, class: 'btn btn-secondary', role: 'button' do %>
      <div class="text-center view-button-text">
        <span>View <i class="fa fa-eye"></i></span>
      </div>
    <% end %>
  </td>
</tr>
