<tr>
  <td class="col-md-2"><%= bet.creator_id %></td>
  <td class="col-md-2"><%= bet.created_at %></td>
  <td class="col-md-2"><%= bet.expires_at %></td>
  <td class="col-md-2"><%= bet.bet_total %></td>
  <td class="col-md-4"><%= bet.bet %></td>
</tr>
